.form {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  flex-direction: column;
}

.text-input {
  margin-bottom: 12px;
  display: flex;
  flex-flow: column;
}

.text-input input,
.text-input textarea {
  padding: 8px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: rgb(60, 60, 60);
  border-radius: 5px;
  border: 2px solid rgb(230, 230, 230);
  transition: border 150ms ease-in-out;
  outline: none;
}

.text-input input:hover,
.text-input textarea:hover {
  border-color: rgb(200, 200, 200);
}

.error {
  color: red;
  margin-top: 6px;
}
