.my-btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 800;
  background-color: #394047;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: background-color 150ms ease-in-out;
}

.my-btn:hover {
  background-color: #485058;
  cursor: pointer;
}

.my-btn.delete {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 8px 16px;
}
